body {
    min-height: 100vh;
    margin: 0;
    background-image: url('document1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;

  }
